<!--对应于shop_detail.html，在显示优惠信息下的情况-->

{% extends 'shop/shop_detail.html' %}
{% block dis_detail_return %}
    <a href="{% url 'shop:shop_detail' shop.pk %}">
         <span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true" style="font-size:20px;color: #000000;"></span>
    </a>
{% endblock %}
{%  block dis_detail %}
    <div class="alert alert-success" role="alert" style="margin-left: 0px">
    {% for discount in discounts %}
        {% if discount.shop.name == shop.name %}
            <p style="font-size: 25px;font-family:宋体 ;text-align: center;"><strong>{{ discount.body }} </strong></p>
            {% if front_owner %}
                <a href="{% url 'discount:discount_delete' discount.id %}">点击删除</a>
            {% endif %}
        {% endif %}
    {% endfor %}
    </div>
    {% if front_owner.shopname == shop.name %}
       <form class="contact_form" action="#" method="post" name="discount">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    <input type="hidden" name="shopname" value="{{ shop.id }}">
    <ul>
        <li>
             <h2>添加优惠信息</h2>
{#             <span class="required_notification">* 表示必填项</span>#}
        </li>
        <li>
            <label for="message">优惠活动:</label>
            <textarea maxlength="120" name="introduction" cols="40" rows="6" placeholder="请输入优惠活动吧！"></textarea>
        </li>
        <li>
            <button class="submit" type="submit" name="discount">提交</button>
        </li>
    </ul>
</form>
    {% endif %}
{%  endblock %}