<!--对应于shop_detail.html，在显示优惠信息下的情况-->

{% extends 'shop/shop_detail.html' %}
{% block dis_detail_return %}
    <a href="{% url 'shop:shop_detail' shop.pk %}">
         <span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true" style="font-size:20px;color: #000000;"></span>
    </a>
{% endblock %}
{%  block dis_detail %}
    <div class="alert alert-success" role="alert" style="margin-left: 0px">
    <!-- 判断店铺是否有优惠信息，有则显示，没有则返回‘暂无优惠’-->
        <script>
            var dis_num = 0;
        </script>
        {% for discount in discounts %}
            {% if discount.shop.name == shop.name %}
                <p style="font-size: 25px;font-family:宋体 ;text-align: center;"><strong>{{ discount.body }} </strong></p>
                <!-- 统计每个店铺的优惠信息数量 -->
                <script>
                    dis_num++;
                </script>
                {% if front_owner %}
                    <a href="{% url 'discount:discount_delete' discount.id %}">点击删除</a>
                {% endif %}
            {% endif %}
        {% endfor %}
        <i style="font-size: 20px;font-family:宋体">
            <script>
                if (dis_num == 0)
                document.write('暂无优惠')
            </script>
        </i>
    </div>
    <div style="margin-left: -55px">
    {% if front_owner.shopname == shop.name %}
    <form class="contact_form" action="#" method="post" name="discount">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    <input type="hidden" name="shopname" value="{{ shop.id }}">
    <ul>
        <li style="list-style: none">
             <h3 style="margin-left: 50px">添加优惠信息</h3>
{#             <span class="required_notification">* 表示必填项</span>#}
        </li>
        <li style="list-style: none">
            <label for="message">优惠活动:</label>
            <textarea maxlength="120" name="introduction" cols="40" rows="6" placeholder="请输入优惠活动吧！"></textarea>
        </li>
        <li style="list-style: none">
            <button class="submit" type="submit" name="discount" style="background-color:green;color:white;">提交</button>
        </li>
    </ul>
    </form>
    {% endif %}
    </div>
{%  endblock %}